:root {
   --cor-primaria: #0860B1; 
  --cor-secundaria: #FF1E27;    
  --branco: #ffffff; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
    margin-left: 10px;
}
fieldset {
    border: none;
    border-top: 1px solid black;
}

h2 { border-top: 1px solid black;
    padding-top:10px ;
    

}
   body {
            font-family: Arial, Helvetica, sans-serif;
        }
        table {
            width: 300px;
            border-collapse: collapse;
        }
        td {
            border: 1px solid black;
            padding: 2px;
            font-size: large;
            height: 30px;
        }

        h1 {
            color: var(--cor-primaria);
        }

        button {
            background-color: var(--cor-primaria);
            color: var(--branco);
            border: none;
            border-radius: 5px;
            padding: 10px 15px;
            cursor: pointer;
        }
        img {
            width: 100px;
            border-radius: 7px;
            margin-right: 10px;
        }

        input {
  width: 100%;             /* Faz o campo ocupar toda a largura disponível */
  padding: 8px;            /* Adiciona um espaço interno para o texto não ficar colado nas bordas */
  margin-bottom: 10px;     /* Cria um espaço abaixo de cada campo */
  border-radius: 5px;      /* Arredonda as bordas */
  border: 1px solid #ccc;  /* Coloca uma borda cinza sutil */
  box-sizing: border-box;  /* Garante que o padding não "estoure" a largura total */
}

th {
    background-color:var(--cor-primaria);
    color: var(--branco);
    padding: 5px;
    border-radius: 5px;
}

#lista-notas tr:nth-child(even){
    background-color:#f2f2f2;
}