:root {
   --cor-primaria: #0860B1; 
  --cor-secundaria: #FF1E27;    
  --branco: #ffffff; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
}
fieldset {
    border: none;
}
   body {
            font-family: Arial, Helvetica, sans-serif;
        }
        table {
            width: 300px;
            border-collapse: collapse;
        }
        td {
            border: 1px solid black;
            padding: 2px;
            font-size: large;
            height: 30px;
        }

        h1 {
            color: var(--cor-primaria);
        }

        button {
            background-color: var(--cor-primaria);
            color: var(--branco);
            border: none;
            border-radius: 5px;
            padding: 10px 15px;
            cursor: pointer;
        }
        img {
            width: 100px;
            border-radius: 7px;
        }